absl-py==2.1.0
adagio==0.2.6
aiofiles==23.2.1
alembic==1.15.2
altair==5.5.0
annotated-types==0.7.0
ansi2html==1.9.2
antlr4-python3-runtime==4.11.1
anyio==4.9.0
aplr==10.8.0
appdirs==1.4.4
arch==7.2.0
asttokens==3.0.1
astunparse==1.6.3
attrs==25.4.0
beautifulsoup4==4.13.3
blinker==1.9.0
boolean.py==5.0
boto3==1.37.23
botocore==1.37.23
CacheControl==0.14.3
cachetools==5.5.2
catboost==1.2.7
category-encoders==2.6.4
certifi==2025.11.12
cffi==1.17.1
chaospy==4.3.21
charset-normalizer==3.4.4
choreographer==1.2.1
click==8.1.8
cloudpickle==3.1.2
cmdstanpy==1.2.5
colorama==0.4.6
colorlog==6.9.0
colour==0.1.5
comm==0.2.3
contourpy==1.3.0
cryptography==44.0.2
curl_cffi==0.10.0
cycler==0.12.1
cyclonedx-python-lib==9.1.0
Cython==3.2.1
daal==2025.4.0
dacite==1.9.2
dash==3.3.0
dash-bootstrap-components==1.7.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dash-testing-stub==0.0.2
dash_auth==2.3.0
dash_cytoscape==1.0.2
dask==2024.8.0
dask-expr==1.1.10
databricks-sdk==0.49.0
debugpy==1.8.13
decorator==5.2.1
defusedxml==0.7.1
Deprecated==1.2.18
deprecation==2.1.0
dill==0.3.9
distributed==2024.8.0
distro==1.9.0
docker==7.1.0
dtreeviz==2.2.2
dynaconf==3.2.10
evidently==0.4.40
exceptiongroup==1.3.0
executing==2.2.1
explainerdashboard==0.4.8
fairlearn==0.7.0
Faker==37.1.0
fastapi==0.115.12
fastjsonschema==2.21.2
ffmpy==0.5.0
filelock==3.18.0
Flask==3.1.2
Flask-WTF==1.2.2
flask_simplelogin==0.2.0
flatbuffers==25.2.10
fonttools==4.60.1
frozendict==2.4.6
fs==2.4.16
fsspec==2025.3.0
fugue==0.8.7
fugue-sql-antlr==0.2.2
future==1.0.0
gast==0.4.0
gevent==24.11.1
gitdb==4.0.12
GitPython==3.1.44
google-auth==2.38.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
gradio==4.26.0
gradio_client==0.15.1
graphene==3.4.3
graphql-core==3.2.6
graphql-relay==3.2.0
graphviz==0.20.3
greenlet==3.1.1
grpcio==1.70.0
h11==0.14.0
h5py==3.13.0
holidays==0.69
hopcroftkarp==1.2.5
htmlmin==0.1.12
httpcore==1.0.7
httptools==0.6.4
httpx==0.28.1
huggingface-hub==0.29.3
hyperopt==0.2.7
idna==3.11
ImageHash==4.3.1
imbalanced-learn==0.12.4
importlib_metadata==8.7.0
importlib_resources==6.5.2
iniconfig==2.1.0
interpret==0.6.10
interpret-core==0.6.10
ipykernel==6.29.5
ipython==8.18.1
ipywidgets==8.1.8
iterative-telemetry==0.0.10
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
jmespath==1.0.1
joblib==1.3.2
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter-dash==0.4.2
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyterlab_widgets==3.0.16
kaleido==1.2.0
kiwisolver==1.4.7
kmodes==0.12.2
libclang==18.1.1
license-expression==30.4.4
lightgbm==4.6.0
litestar==2.15.1
litestar-htmx==0.4.1
llvmlite==0.43.0
locket==1.0.0
logistro==2.0.1
lxml==5.3.1
m2cgen==0.10.0
Mako==1.3.9
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.3
matplotlib==3.7.5
matplotlib-inline==0.2.1
matplotlib-stubs==0.2.0
mdurl==0.1.2
mlflow==2.21.2
mlflow-skinny==2.21.2
mlxtend==0.23.4
moto==4.2.14
msgpack==1.1.0
msgspec==0.19.0
multidict==6.2.0
multimethod==1.12
multipart==1.2.1
multiprocess==0.70.17
multitasking==0.0.11
mypy-extensions==1.0.0
narwhals==2.11.0
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.2.1
nltk==3.9.1
numba==0.60.0
numpoly==1.3.8
numpy==1.26.4
oauthlib==3.2.2
opentelemetry-api==1.31.1
opentelemetry-sdk==1.31.1
opentelemetry-semantic-conventions==0.52b1
opt_einsum==3.4.0
optuna==4.2.1
optuna-integration==4.2.1
orjson==3.11.4
outcome==1.3.0.post0
oyaml==1.0
packageurl-python==0.17.5
packaging==25.0
pandas==2.1.4
pandas_ta==0.3.14b0
parso==0.8.5
partd==1.4.2
patsy==1.0.2
peewee==3.17.9
percy==2.0.2
persim==0.3.8
phik==0.12.4
pillow==11.3.0
pip-api==0.0.34
pip-requirements-parser==32.0.1
pip_audit==2.9.0
pipdeptree==2.28.0
platformdirs==4.4.0
plotly==6.4.0
plotly-resampler==0.11.0
pluggy==1.6.0
pmdarima==2.0.4
polyfactory==2.20.0
prompt_toolkit==3.0.52
prophet==1.1.6
protobuf==4.25.8
psutil==7.1.3
pure_eval==0.2.3
puremagic==1.28
py-serializable==2.1.0
py4j==0.10.9.9
pyaml==25.1.0
pyarrow==19.0.1
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycaret==3.3.2
pycparser==2.22
pydantic==2.11.1
pydantic_core==2.33.0
pydub==0.25.1
Pygments==2.19.2
pynndescent==0.5.13
pyod==2.0.5
pyOpenSSL==25.0.0
pyparsing==3.2.5
PySocks==1.7.1
pytest==8.4.2
pytest-timeout==2.4.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-multipart==0.0.20
pytz==2025.2
PyWavelets==1.6.0
pywin32==311
PyYAML==6.0.2
pyzmq==26.3.0
qpd==0.4.4
referencing==0.36.2
regex==2024.11.6
requests==2.32.5
requests-oauthlib==2.0.0
responses==0.25.7
retrying==1.4.2
rich==13.9.4
rich-click==1.8.8
ripser==0.6.14
rpds-py==0.27.1
rsa==4.9
ruff==0.11.2
ruptures==1.1.9
s3transfer==0.11.4
SALib==1.5.1
schemdraw==0.15
scikit-base==0.7.8
scikit-learn==1.4.2
scikit-learn-intelex==2025.4.0
scikit-optimize==0.10.2
scikit-plot==0.3.7
scipy==1.11.4
seaborn==0.13.2
selenium==4.2.0
semantic-version==2.10.0
shap==0.44.1
shellingham==1.5.4
simplejson==3.20.2
six==1.17.0
sktime==0.26.0
slicer==0.0.7
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
SQLAlchemy==2.0.40
sqlglot==26.12.0
sqlparse==0.5.3
stack-data==0.6.3
stanio==0.5.1
starlette==0.46.1
statsforecast==1.5.0
statsmodels==0.14.5
structlog==25.1.0
tabulate==0.9.0
tbats==1.1.3
tbb==2022.1.0
tblib==3.0.0
tcmlib==1.3.0
tenacity==9.0.0
termcolor==2.5.0
threadpoolctl==3.6.0
toml==0.10.2
tomli==2.3.0
tomlkit==0.12.0
toolz==1.0.0
torch==2.6.0
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
triad==0.9.8
trio==0.29.0
trio-websocket==0.12.2
tsdownsample==0.1.4.1
typeguard==4.4.2
typer==0.15.2
typing-inspect==0.9.0
typing-inspection==0.4.0
typing_extensions==4.15.0
tzdata==2025.2
ujson==5.10.0
umap-learn==0.5.7
urllib3==2.5.0
urllib3-secure-extra==0.1.0
uuid6==2024.7.10
uv==0.6.3
uvicorn==0.34.0
visions==0.8.1
waitress==3.0.2
watchdog==6.0.0
watchfiles==1.0.4
wcwidth==0.2.14
websockets==11.0.3
Werkzeug==3.1.3
widgetsnbextension==4.0.15
wordcloud==1.9.4
wrapt==1.17.2
wsproto==1.2.0
WTForms==3.2.1
xgboost==2.1.4
xmltodict==0.14.2
xxhash==3.6.0
ydata-profiling==4.16.1
yellowbrick==1.5
yfinance==0.2.58
zict==3.0.0
zipp==3.23.0
zope.event==5.0
zope.interface==7.2
